.keyboard {
  width: 213px;
  display: flex;
  flex-wrap: wrap;
}
.key {
  border: none;
  background-color: #383838;
  color: #d2d2d2;
  cursor: pointer;
  width: 71px;
  height: 71px;
  position: relative;
}
.key:after {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
  opacity: 1;
}
.key.big {
  width: 142px;
}
.key:disabled {
  cursor: default;
  opacity: 0message;
}
.key:not(disabled):hover {
  background-color: #454545;
}
